
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*{
    margin:0;
    padding :0;
    
}

body{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('pexels.jpg');
    color:white;
    background-size:cover;
    background-position:center;
}

.counter{
    display-inline:flex;
    justify-content:center;
    align-items:center;
    margin-top:30px;
}
p{
    fontsize:12px;
}

.newyear{
    font-family:'Inspiration',cursive;
    font-size:50px;
    font-weight:400;
    margin-top:30px;

}

.box{
    width:50px;
    height:50px;

}

.box h2{
    font-size:20px;
}

.box small{
    font-size:10px;
}

@media (min-width:576px){
    .newyear{
        font-size:60px;
    }
    p{
        font-size:20px;
    }
    .box h2{
        font-size:30px;
    }
 

}


@media (min-width:768px){
    .newyear{
        font-size:50px;
    }
    p{
        font-size:25px;
    }
    .box h2{
        font-size:30px;
    }
 
    
}





